.kotak-kalender {
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: lightsteelblue;
    border: 2px;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
    padding: 5px;
}

.kotak-kepala {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 2px;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
    font-weight: bold;
}

.kalender-lain {
    color: lightslategray;
}

.ada-deadline {
    background-color: lightcoral;
}

.head-kalender {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-kalender {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail-kalender {
    border-radius: 5px;
    background-color: lightsteelblue;
    width: 90%;
    height: 100%;
}
